{% load static%}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
  
</style>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Calorie-Tracker</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav">
       <li class="nav-item">
          <a class="nav-link text-light" href="/about">About</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link text-light" href="/profile">Profile <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-light" href="/addFooditem">Add-Food</a>
        </li>
      </ul>
      
      
    </div>
    <span ><a  class="hello-msg my-2 my-lg-0 text-light" href="{% url 'logout' %}">Logout</a></span>
  </nav>